// NORMALIZED CSS INSTALLED
// View settings for more info.

#container
	#inviteContainer
		.logoContainer
			img.logo(src="https://padlet-uploads.storage.googleapis.com/409485527/4c79eb732b35a75ac7d475a435be361a/Untitled_design__1_.png")
			
		.acceptContainer
			form
				h1 heyo!
				.formContainer
					.formDiv(style="transition-delay: 0.2s")
						p EMAIL
						input(type="email", required="")
					.formDiv(style="transition-delay: 0.4s")
						p PASSWSORD
						input(type="password", required="")
						a.forgotPas(href="#") FORGOT YOUR PASSWORD?
					.formDiv(style="transition-delay: 0.6s")
						button.acceptBtn(type="submit") Login
						span.register
							| Need an account?
							a(href="#") Register